@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
    --body-height: 100%;
    --header-height: 101px;
    --text-font: 15px;
}

*{
    box-sizing: inherit;
}

*:focus-visible {
    outline: 2px solid #00754a;
}

html{
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5 {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 19px;
}

a:hover {
    text-decoration: none;
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
}

:required {
    display: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.extend-btn.active {
    transform: rotate(180deg);
}

